<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageWorx\OptionHealthChecker\Api\DataCleanerModelInterface" type="MageWorx\OptionHealthChecker\Model\DataCleanerModelCli" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mageworxAnalyzeDatabaseData" xsi:type="object">MageWorx\OptionHealthChecker\Console\AnalyzeDatabaseData</item>
                <item name="mageworxCleanDatabaseData" xsi:type="object">MageWorx\OptionHealthChecker\Console\CleanDatabaseData</item>
            </argument>
        </arguments>
    </type>
</config>
