<?xml version="1.0"?>
<!--
/**
 * Cache Warmer
 * @category   Scommerce
 * @package    Scommerce_CacheWarmer
 * @author     Scommerce Mage <core@scommerce-mage.com>
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_cache_refresh_type">
        <observer name="flush_scommerce_cachewarmer" instance="Scommerce\CacheWarmer\Observer\FlushAllCacheObserver"/>
    </event>
</config>