//
// common
//
& when (@media-common = true) {

    .shipping-bar {
        clear: both;
    }
    .product-image-wrapper{
        .swatch-option-loading {
            position: absolute;
            left: 0;
            bottom: 0;
            left: 0;
            top:0;
        }
    }

    .block-promo {  
        .swatch-option-loading {
            position: inherit;
            top: 50%;
            left: 50%;
        }
    }

}

