
.navbar-link {
    background: url('../images/scrolling-top.png');
    display: inline-block;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 6px;
    cursor: pointer;
    bottom: 4px;
}

.ias-trigger-next {
    padding: 6px;
    margin-bottom: 10px;

}

.button-label, .infinite-scrolling-page{
    font-weight: 600;
}

.infinite-scrolling-bar {
    position: fixed;
    bottom: 1%;
    right: 2%;
    z-index: 99999;
    padding: 6px 45px 6px 5px;
    height: 26px;
    box-sizing: content-box !important;
    vertical-align: -webkit-baseline-middle;
    font-size: 14px;
}

.infinite-scrolling-page {
    font-weight: 600;
    vertical-align: -webkit-baseline-middle;
}

.ias-noneleft {
      display: none !important;
}

