<?xml version="1.0"?>
<!---
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_DupCmsPageBlock
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Magento_Backend::content_elements">
                        <resource id="Bss_DupCmsPageBlock::duplicate_cmsblock" title="Duplicate Cms Block"/>
                        <resource id="Bss_DupCmsPageBlock::duplicate_cmsblock_mass" title="Mass Duplicate Cms Block"/>
                        <resource id="Bss_DupCmsPageBlock::duplicate_cmspage" title="Duplicate Cms Page"/>
                        <resource id="Bss_DupCmsPageBlock::duplicate_cmspage_mass" title="Mass Duplicate Cms Page"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
